div#left-contain div#content-zone { width: 840px !important; padding-right: 10px; }
div#qr-cc-license { font-size: x-small; width: 300px; margin-bottom: 30px; clear: both; }

table.longdiv td { font-family: monospace; }
