body {
    font-family: Arial, Helvetica, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    margin: 0;
    font-size: 16px;
}

body.footer-only {
    margin: auto;
}

a {
    color: #0000aa;
}

a, a img {
    border: 0;
}

p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    text-align: left;
}

h1, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

h2, h3, h4 {
    font-family: Helvetica, Arial, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    line-height: 33px;
}

h3 {
    font-size: large;
    background-color: #ADF;
    padding: 3px;
}

h4 {
    font-size: x-large;
    margin-top: 30px;
    margin-bottom: 0px;
}

ul {
    margin-top: 0px;
    padding-left: 25px;
}

ol {
    padding-left: 25px;
}

.clear {
    clear: both;
}

.display-none {
    display: none;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.center-text {
    text-align: center;
}

/* TOP BAR STYLE */

#outer-top-bar {
    position: absolute;
    top: 0px;
    width: 100%;
}

#top-bar {
    width: 100%;
    height: 85px;
    background-color: #ADF;
    margin-bottom: 20px;
    padding-top: 10px;
}

#top-inner {
    position: relative;
    width: 98%;
    margin: 0 auto;
}

#top-inner h1 {
    letter-spacing: 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin: 0px;
    line-height: 60px;
}

#top-inner h1 a,
.toplink a {
    color: #FFF;
    text-decoration: none;
}

#top-inner h1 a:hover,
.toplink a:hover {
    color: #aaddff;
    background-color: #ffffff;
}

.toplink {
    padding-right: 50px;
    width: 55px;
    float: left;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
}

#top-links {
    padding-right: 50px;
}

#search-box-container {
    position: absolute;
    top: 60px;
    right: 0px;
}

/* LEFT NAV STYLE */

.has-left-nav {
    width: 85%;
    float: right;
}

.has-left-nav.no-right-nav {
    width: 85%;
}

#leftnav {
    width: 15%;
    float: left;
    line-height: 17px;
    overflow: hidden;
}

#leftnav div {
    text-align: left;
    font-size: small;
    padding: 3px;
}

#leftnav div.no-padding {
    padding: 0px;
}

#leftnav div.no-margin {
    margin: 0px;
}

#leftnav .toc-item {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

#leftnav .toc-sec {
    font-weight: bold;
}

#leftnav .toc-head {
    background-color: #ADF;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 5px;
}

#leftnav #sec-head-name {
    text-align: center;
    font-size: small;
}

#leftnav .returnlink {
    float: left;
    width: 100px;
}

.toc-sec-box {
    border-radius: 10px; 
    border: 3px solid #ADF;
    margin-bottom: 11px; 
    -moz-border-radius: 10px;
    width: 90%;
}

.toc-sec + .toc-item {
    border-bottom-width: 0;
}

.toc-sec-box ul {
    padding-left: 0px;
}

.toc-sec-box ul li {
    background-image: url(http://www.thonky.com/bullet_blue.png);
    background-position: 0 5px;
    background-repeat: no-repeat;
    list-style: none outside none;
    margin-bottom: 5px;
    padding: 0 0 0 10px;
}


#nav-icon-container {
    float: left;
    width: 40px;
    height: 40px;
}

/* INNER CONTENTS NAV */

.toc-box {
    padding: 10px;
    width: 50%;
    border: #aaddff 1px solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #ddffff;
    font-size: small;
}

.toc-box .toc-head {
    text-align: center;
    font-weight: bold;
}

.toc-box .toc-head span {
    font-weight: normal;
}

.toc-box {
    text-align: left;
}

div.toc-box ul.toc-list ul {
    margin-bottom: 10px;
}

div.toc-box ul.toc-list ul ul {
    margin-bottom: 0;
}

#toc-list ul li.item_h4 {
    list-style-type: circle;
    margin-left: 20px;
}

/* CONTENT AREA STYLE */

#returnlink {
    font-weight: bold;
}

#outer-center {
    position: absolute;
    top: 115px;
    width: 100%;
}

#center-zone,
#left-zone.no-right-nav {
    width: 100%;
    margin: 0 auto;
}

#center-zone h3 {
    margin: 50px 0 10px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

#center-zone h3.home-blue-top {
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
}

#center-zone h3.no-margin {
    margin: 0px;
}

#left-zone {
    float: left;
    display: inline;
    width: 100%;
}

#right-zone {
    width: 160px;
    min-width: 20%;
    float: right;
}

#footer {
    border-top: 1px solid #666666;
    text-align: center;
    color: #000000;
    font-size: 10px;
    padding: 0 20px 20px 20px;
    margin-top: 20px;
} 

.tall-ad {
    width: 160px;
    margin: 0 auto;
    border-left: 1px solid #ddd;
}

#page-last-updated {
    font-size: xx-small;
}

body.footer-only #page-last-updated {
    text-align: center;
}

.informational-box {
padding: 3px; background-color: cornsilk; border: 1px solid orange; margin-bottom: 30px;
}

/* BORDERED TABLE STYLE */

.bordered,
.bordered th,
.bordered td {
    border-collapse: collapse;
    border: 2px solid #000000;
}
.bordered th,
.bordered td {
    padding: 5px;
}

#noscript-games {
 width: 171px; border:0px;
}

#left-spacer {
width: 100%;
}
/* CROSS-BROWSER ROUNDED CORNERS */

.rounded-corners {
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Safari, Chrome */
  border-radius: 10px; /* CSS3 */
}

/* game icon sprites */
.pokemon-bwpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -0px -0px }
.oracle-seasonspng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -40px -0px }
.fftapng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -80px -0px }
.majoras-maskpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -120px -0px }
.oracle-of-agespng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -160px -0px }
.lttppng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -0px -40px }
.chesspng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -40px -40px }
.cached-sprite-sheet00da9f39f23b8a616844fb8ae08431bdbf119166bf8f7e6e2a34616a021282fapng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -80px -40px }
.pokeballpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -120px -40px }
.chronotriggerpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -160px -40px }
.cached-sprite-sheeta3576c3ff93346210e75a17033eae9fea56caa4465b9250f54a9f8900675d89epng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -200px -40px }
.gncached-sprite-sheetpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -0px -80px }
.story-of-seasonspng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -40px -80px }
.disco-zoopng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -80px -80px }
.cached-sprite-sheet7f0459c2f79fd913284e94dee89ca4893acab701394bca13d6d7eedb4b6dc96dpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -120px -80px }
.pocket-frogspng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -160px -80px }
.secret-of-manapng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -200px -80px }
.portal-2png { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -0px -120px }
.cached-sprite-sheeta3c0313b59018b0abf0725dac3061c6ae2672bd2e092e522277a5633e63c5c1dpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -40px -120px }
.talespng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -80px -120px }
.tinytowerpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -120px -120px }
.pokemon-x-ypng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -160px -120px }
.acwwpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -200px -120px }
.dqixpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -0px -160px }
.lbwpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -40px -160px }
.cached-sprite-sheetf5806a3420d821c10c785e556e545a6907950c2dcd1ab00496d7d39a4826cfc0png { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -80px -160px }
.blue-chamberpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -120px -160px }
.dink-smallwoodpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -160px -160px }
.zero-escapepng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -200px -160px }
.illusion-of-gaiapng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -0px -200px }
.ff36png { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -40px -200px }
.ninehourspng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -80px -200px }
.new-leafpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -120px -200px }
.skyward-swordpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -160px -200px }
.portalpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -200px -200px }
.vlrpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -0px -240px }
.chess2png { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -40px -240px }
.black-2-white-2png { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -80px -240px }
.nimblequestpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -120px -240px }
.nintendogs-catspng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -160px -240px }
.pocketplanespng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -200px -240px }
.find-mii-3dspng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -0px -280px }
.whitechamberpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -40px -280px }
.pokemonpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -80px -280px }
.pokedex-3dpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -120px -280px }
.spirittrackspng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -160px -280px }
.london-lifepng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -200px -280px }
.minishpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -0px -320px }
.ocarinapng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -40px -320px }
.earthboundpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -80px -320px }
.picrosspng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -120px -320px }
.cached-sprite-sheetd2cb32036b935f3e386f0881b1895730815d28403bd9618ddb64672b81bbb865png { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -160px -320px }
.windwakerpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -200px -320px }
.sims3png { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -0px -360px }
.soul-blazerpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -40px -360px }
.super-scribblenautspng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -80px -360px }
.lbpvitapng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -120px -360px }
.omega-ruby-alpha-sapphirepng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -160px -360px }
.pocket-trainspng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -200px -360px }
.eveonlinepng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -0px -400px }
.qr-codepng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -40px -400px }
.crimson-roompng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -80px -400px }
.cached-sprite-sheetb7f172b8d273bd1de44ec6de8c16fec880e982a8c87b80852f910058eeba4281png { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -120px -400px }
.linkpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -160px -400px }
.metroidfusionpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -200px -400px }
.contact-dspng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -0px -440px }
.viridianpng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -40px -440px }
.pokemon-rsepng { background-image: url(/game-icons/cached-sprite-sheet.png); background-position: -80px -440px }

